<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <h1>FIT<span>STATION</span></h1>
      <p>NUEVO REGISTRO</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="realizarRegistro()">
      <div class="input-group">
        <label>NOMBRE COMPLETO</label>
        <input type="text" formControlName="name" placeholder="Tu nombre real">
      </div>

      <div class="input-group">
        <label>CORREO ELECTRÓNICO</label>
        <input type="email" formControlName="email" placeholder="ejemplo@fitstation.com">
      </div>

      <div class="input-group">
        <label>CONTRASEÑA</label>
        <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres">
      </div>

      <div class="input-group">
        <label>TIPO DE PERFIL</label>
        <select formControlName="role" class="form-control" style="background: #1a1a1a; color: white; border: 1px solid #333; padding: 10px; width: 100%; border-radius: 8px;">
          <option value="client">Atleta (Cliente)</option>
          <option value="worker">Coach (Entrenador)</option>
        </select>
      </div>

      <p *ngIf="mensaje" class="error-msg" style="color: #e74c3c; font-size: 0.8rem; margin-bottom: 10px;">
        {{ mensaje }}
      </p>

      <button type="submit" class="btn-login" [disabled]="registerForm.invalid">CREAR CUENTA</button>
    </form>

    <div class="footer-links">
      <a routerLink="/login">Ya tengo cuenta. Volver al Login</a>
    </div>
  </div>
</div>