<div class="gestion-container">
  <header class="header-gestion">
    <button routerLink="/dashboard" class="btn-back">← Volver</button>
    <h1>Gestión de Entrenamiento</h1>
    <p>Alumno: <span>{{ studentName }}</span></p>
  </header>

  <div class="main-content">
    <div class="card-gestion">
      <h2>Asignar Rutina de mi Biblioteca</h2>
      <div class="assign-box">
        <select [(ngModel)]="selectedRoutineId" class="select-dark">
          <option [value]="0">-- Seleccionar una rutina --</option>
          <option *ngFor="let r of myRoutines" [value]="r.idRoutine || r.IdRoutine">
            {{ r.name || r.Name }}
          </option>
        </select>

        <div class="actions">
          <button class="btn-preview" (click)="previewRoutineContent()" [disabled]="selectedRoutineId == 0">
             Ver Tabla
          </button>
          <button class="btn-assign" (click)="assignRoutine()" [disabled]="selectedRoutineId == 0">
            ASIGNAR AHORA
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="isShowingPreview">
    <div class="modal-content">
      <h3>VISTA PREVIA: {{ previewRoutineName }}</h3>

      <div class="tabla-preview-box" *ngIf="routineExercises.length > 0">
        <table class="tabla-tecnica">
          <thead>
            <tr>
              <th>EJERCICIO</th>
              <th>GRUPO MUSCULAR</th>
              <th class="text-center">SERIES</th>
              <th class="text-center">REPETICIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ej of routineExercises">
              <td class="nombre-ej"><strong>{{ ej.exerciseName || ej.ExerciseName }}</strong></td>
              <td><span class="badge-musculo">{{ ej.muscle || ej.Muscle || 'General' }}</span></td>
              <td class="text-center series-num">{{ ej.series || ej.Series }}</td>
              <td class="text-center reps-num">{{ ej.repetitions || ej.Repetitions }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn-close" (click)="closePreviewModal()">CERRAR</button>
    </div>
  </div>
</div>
