:root {
  --primary-color: #5afeb2; 
  --bg-color: #000000;     
  --card-bg: #121212;     
  --text-color: #ffffff;   
  --text-muted: #aaaaaa;    
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Scale VF', sans-serif; 
  margin: 0;
}