<div class="gestion-container">
  <header class="header-gestion">
    <button routerLink="/dashboard" class="btn-back">← Volver</button>
    <h1>Gestión de Entrenamiento</h1>
    <p>Alumno: <span>{{ nombreAlumno }}</span></p>
  </header>

  <div class="main-content">
    <div class="card-gestion">
      <h2>Asignar Rutina de mi Biblioteca</h2>
      <div class="assign-box">
        <select [(ngModel)]="rutinaParaAsignarId" class="select-dark">
          <option [value]="0">-- Seleccionar una rutina --</option>
          <option *ngFor="let r of misRutinas" [value]="r.idRoutine || r.IdRoutine">
            {{ r.name || r.Name }}
          </option>
        </select>
        
        <div class="actions">
          <button class="btn-preview" (click)="verContenidoRutina(rutinaParaAsignarId, 'Vista Previa')" [disabled]="rutinaParaAsignarId == 0">
            OJO
          </button>
          <button class="btn-assign" (click)="asignarRutina()" [disabled]="rutinaParaAsignarId == 0">
            ASIGNAR AHORA
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="mostrandoEjercicios">
    <div class="modal-content">
      <h3>{{ nombreRutinaViendo }}</h3>
      <button class="btn-close" (click)="cerrarModal()">CERRAR</button>
    </div>
  </div>
</div>