/* ==========================================================================
   FITSTATION - COMPONENT: LOGIN
   Estilos corporativos: #5afeb2 (Verde) y #000000 (Negro)
   ========================================================================== */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000; /* Fondo corporativo */
  color: white;
  font-family: 'Scale VF', sans-serif;
}

.login-box {
  background: #111;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #5afeb2; /* Verde corporativo */
  width: 100%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.logo h1 { font-size: 32px; margin-bottom: 5px; letter-spacing: 1px; }
.logo span { color: #5afeb2; } /* Verde corporativo */
.logo p { color: #555; font-size: 11px; letter-spacing: 2px; margin-bottom: 30px; text-transform: uppercase; }


.logo-img {
  max-width: 250px; /* Ajusta este valor al tamaño que quieras */
  height: auto;
  display: block;
  margin: 0 auto 30px auto; /* Centrado horizontal y margen inferior */
}

.input-group { text-align: left; margin-bottom: 20px; }
.input-group label { display: block; font-size: 11px; color: #888; margin-bottom: 8px; font-weight: bold; }

input {
  width: 100%;
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s;
}

input:focus { border-color: #5afeb2; } /* Verde corporativo */

.btn-login {
  width: 100%;
  padding: 14px;
  background: #5afeb2; /* Verde corporativo */
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: transform 0.2s, background 0.2s;
}

.btn-login:hover { background: #46e098; }
.btn-login:active { transform: scale(0.98); }

/* Estilo del mensaje de error */
.error-msg {
  background-color: rgba(255, 71, 87, 0.1);
  color: #ff4757;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 71, 87, 0.3);
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.footer-links { margin-top: 25px; }
.footer-links a { color: #555; text-decoration: none; font-size: 13px; transition: color 0.3s; }
.footer-links a:hover { color: #5afeb2; } /* Verde corporativo */