/* Contenedor que ocupa toda la pantalla negra */
.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; /* Negro puro */
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* La tarjeta del login */
.login-box {
  background: #111111; /* Negro un poco más claro */
  padding: 40px;
  border-radius: 10px;
  border: 2px solid #2ecc71; /* Verde Neón */
  box-shadow: 0 0 20px rgba(46, 204, 113, 0.3);
  width: 350px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.logo h1 {
  margin: 0;
  font-weight: 900;
  letter-spacing: 2px;
}

.logo span {
  color: #2ecc71; /* El verde de tu empresa */
}

.logo p {
  font-size: 10px;
  letter-spacing: 4px;
  color: #888;
  margin-top: 5px;
}

.input-group {
  text-align: left;
  margin-top: 25px;
}

.input-group label {
  display: block;
  font-size: 11px;
  color: #2ecc71;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  background: #222;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color: #2ecc71;
}

.btn-login {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background-color: #2ecc71;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #fff;
  transform: scale(1.05);
}

.footer-links a {
  display: block;
  margin-top: 20px;
  color: #555;
  text-decoration: none;
  font-size: 12px;
}